fastapi
uvicorn[standard]
requests
python-multipart

llama-index-core
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index-readers-file

chromadb

pypdf
python-docx
openpyxl
pandas
lxml
Pillow
beautifulsoup4

torch
sentence-transformers
transformers
tree-sitter
tree-sitter-languages